.indexWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	.sidebarRight {
		padding: 25px;
		flex: 1 0 100%;
		.sidebarRightWrapper {
			.menu {
				ul {
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					background-color: rgba(25,25,27, 0.8);
					border: 2px solid #b13332;
					li {

					}
				}
			}
		}
	}
	
	.content {
		flex: 1 0 80%;
		background-color: rgba(25,25,27, 0.8);
		padding: 30px;	
		margin: 30px;
		article {
			h2 {
				text-align: center;
			}
			section {
				.more-link {
					font-size: 20px;
				}
			}
			footer {
				text-align: left;
				display: flex;
				flex-direction: column;
				p {
					margin: 3px;
					a {
						font-size: 15px;
					}
				}
			}
		}
	}
	
	.sidebarLeft {
		padding: 25px;
		flex: 1 0 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.sidebar {
			display: flex;
			justify-content: space-around;
			li {
				flex: 1 0 50%;
				max-width: 400px;
				input {
					height: 160px;
				}
			}
		}
	}
}
