.sidebar {
	li {
		list-style: none;
		padding-bottom: 10px;
		input {
			background-color: rgba(25,25,27, 0.6);
			padding: 20px 60px;
			border: 5px ridge #b13332;
			font-size: 20px;
			color: #b13332;
			text-transform: uppercase;
			width: 100%;
		}
		iframe {
			border: 5px ridge #b13332;
			width: 100%;
			height: auto; 
		}
	}
}

.sidebarRight {
	ul {
		li {
			list-style-type: none;
			text-align: right;
			padding: 15px 10px 15px 0;
		}
	}
}